.btn {
    font-size: 21px;
    line-height: 22px;
    font-weight: 800;
    height: 63px;
    border-radius: 30px;

    &--green {
        background-color: #0aa566;
    }
    
.btn--left {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

}