
.payment__img {
    margin-bottom: 20px;
    margin-right: 18px;

}

.payment__box {


    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
    flex-wrap: wrap;


}