.social {
    display: flex;
    justify-content: space-between;
    gap: 7px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        background-color: #fff;
        border-radius: 50%;
        
    }
}