
.title {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    // @include font(50px,40px,null,left)

    &--orange {
        color: #f7ae3b;
    }
    
&--yellow {
    color: #cae941;
    position: relative;
    
&::after {
    content: '';

    display: block;
    width: 450px;
    height: 13px;
    left: -10px;
    top: 60px;

    background-image: url(../images/line.png);
    position: absolute;
}
}


&--green {
    color: #0aa566;
}

}
