body {
    background-color: #fff;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    -webkit-border-radius: 20%;
}

.header {
    background-image: url(../images/header-bg-img.png);
    background-color:rgb(236,167,61);
}

.header__top {}

.header__list {}
.logo {
    /* common styles */
}
.logo__link {}
.logo__img { }
.header__logo {
    texpos
}


.footer__logo {
    /* размер, расположение в footer*/
}

.herader__social {

}




.title {
     /* общие стили  */
     /* общие стили  */
     /* общие стили  */
     /* общие стили  */
     /* общие стили  */
}


.title--orange {
    color: orange;
}

.smoothies__title {
    /* color: orange; */
    /* center */
}
.about__title {
    /* left */
}
.story__title {
    /* color: orange; */
    /* left */
}
.testimonials__title {
    /* color: orange; */
    /* right */
}
.blog__title {
    /* color: orange; */
    /* center */
}