

.blog {
    padding: 100px 50px;

    &__wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    @media only screen and (max-width: 768px) {
        &__wrap {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-left: 30px;
        }
    }
    
    &__box {
        margin-right: 65px;
    }
    
    &__title {
        margin-bottom: 50px;
    }
    
    &__textbox {
        position: relative;
        margin-top: 210px;
    }
    
    @media only screen and (max-width: 768px) {
        &__textbox {
            margin-top: 20px;
        }
    }
    
    &__textbox::after {
        content: '';
        width: 645px;
        height: 15px;
        top: -50px;
        right: 20px;
        background-color: #f7ae3b;
        position: absolute;
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -ms-border-radius: 0 10px 10px 0;
        -o-border-radius: 0 10px 10px 0;
    }
    
    @media only screen and (max-width: 768px) {
        &__textbox::after {
            display: none;
            margin-top: 20px;
        }
    }
    
    &__subtitle {
        font-size: 30px;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: #f2612d;
    }
    
    &__time {
        font-size: 16px;
        line-height: 35px;
        font-weight: 400;
        color: #1e1e1e;
    }
    
    &__text {
        max-width: 475px;
        margin-left: 125px;
    }
    
    @media only screen and (max-width: 768px) {
        &__text {
            margin-left: 95px;
        }
    }
}

