.header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    &__top {
        padding-top: 84px;
        margin-bottom: 120px;
    }

    &__logo {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translate(-50%);
    }

    &__box {
        display: flex;
    }

    &__personal-list {
        margin-right: 134px;
    }

    &__social {
        position: relative;

        &::before {
            content: "";
            display: block;

            width: 50px;
            height: 2px;

            background-color: #f1cf89;

            position: absolute;
            top: 20px;
            left: -90px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        border-radius: 35px;
        width: 280px;
        text-indent: -72px;
        height: 70px;
        text-transform: capitalize;
        position: relative;
        font-size: 24px;

        &::after {
            content: "";
            width: 40px;
            height: 15px;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
        }
    }

    @media only screen and (max-width: 768px) {
        &__logo {
            top: 90px;
        }

        &__top {

            margin-bottom: 190px;
        }
    }
}