

.products__wrapper {
    display: flex;
    overflow-x: scroll;
}

/* 
.products__img {
    width: 119px;
    height: 303px;
} */
.products__item {
    align-items: center;
    display: flex;
    min-width: 480px;
    flex-direction: column;
    justify-content: center;
    padding: 129px 0 78px;
}

.products__item--orange {
    background-color: #662a13;
}

.products__item--green {
    background-color: #198672;
}

.products__item--yellow {
    background-color: #f8b03b;
}

.products__item--red {
    background-color: #c3491b;
}

.products__text {
    font-size: 21px;
    line-height: 32px;
    font-style: italic;

    margin-bottom: 55px;
}

.products__img {
    margin-bottom: 35px;
}

.products__title {
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;

    margin-bottom: 10px;
}

.products__btn {
    text-indent: -95px;
    width: 207px;
    border-radius: 30px;


    border: 1px solid #fff;
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.products__btn::after {
    content: '';

    width: 30px;
    height: 16px;

    position: absolute;
    top: 25px;
    right: 40px;


    background-image: url(../images/arrow-white.png);
}
