.smoothies {
    padding: 100px 0 110px;

    @media only screen and (max-width: 768px) {
        & {
            padding: 50px 0 110px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 45px;
    }

    @media only screen and (max-width: 768px) {
        &__title {
            margin-bottom: 20px;
        }
    }

    &__text {
        max-width: 915px;
        text-align: center;
        margin: 0 auto 60px;
    }

    @media only screen and (max-width: 768px) {
        &__text {
            max-width: 700px;
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;

        max-width: 1010px;

        margin: 0 auto;

        background-color: #f6edde;
    }

    @media only screen and (max-width: 1100px) {
        &__cards {
            max-width: 540px;
        }
    }

    &__item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 25%;
        height: 190px;
        background-color: #fff;



        &:nth-child(-n+8) {
            border-right: 2px solid #f6edde;
        }

        &:nth-child(-n+4) {
            border-bottom: 2px solid #f6edde;
        }

        &:nth-child(4),
        &:last-child {
            border-right: none;
        }

        @media only screen and (max-width: 1100px) {
            
                width: 50%;  

            &:nth-child(5),
            &:nth-child(6) {
                border-bottom: 2px solid #f6edde;
            }

            &:nth-child(2),
            &:nth-child(6) {
                border-right: none;
            }
        }
    }

    &__discr {
        font-size: 25px;
        line-height: 40px;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: #f2612d;
        margin: 24px 0 35px 0;

        @media only screen and (max-width:460px) {
            font-size: 20px;
        }
    }
}