
.story__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 65px 0 160px;
    position: relative;
}

@media only screen and (max-width: 768px) {

    .story__wrap {
        padding: 65px 0 70px;
    }
}


.story__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 190px 0px 0px;
}

.story__title {
    margin-bottom: 45px;
}

.story__text {
    max-width: 515px;

    margin-bottom: 50px;
}

.story__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {

    .story__box {
        margin-left: 125px;
    }
}

.story__img {
    width: 100%;
}

.story__box::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -173px;
    background-image: url(../images/stamp.png);
    display: block;
    width: 290px;
    height: 216px;
}

@media only screen and (max-width: 768px) {

    .story__box::after {
        top: 20px;
        left: -165px;
    }
}

.story__btn {
    position: relative;
    max-width: 304px;
    width: 100%;
    display: flex;
    align-items: center;
    text-indent: 30px;
    font-size: 21px;
    background-color: #0aa566;


}

@media only screen and (max-width: 768px) {

    .story__btn {
        margin-bottom: 80px;
    }
}

.story__btn::after {
    content: '';
    display: block;
    width: 30px;
    height: 15px;


    position: absolute;
    background-image: url(../images/arrow.png);
    top: 20px;
    right: 45px;
}