
.testimonials {
    background-color: #632d1b;
    padding: 117px 0 80px;
    position: relative;
}

.testimonials::after {
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    right: 60px;
    background-image: url(../images/dots.png);
    width: 410px;
    height: 301px;
}

@media only screen and (max-width: 1100px) {

    .testimonials::after {

        display: none;
    }
}

.testimonials__title {
    text-align: center;
    margin-top: -9px;
    margin-bottom: 150px;
    position: relative;
}

@media only screen and (max-width:768px) {

    .testimonials__title {


        margin-top: 0px;

    }
}


.testimonials__review {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 105px;
    position: relative;
}

@media only screen and (max-width: 768px) {

    .testimonials__review {

        flex-direction: column-reverse;

    }
}

.testimonials__review::after {
    display: block;
    max-width: 800px;
    content: 'Sarah A';
    font-weight: 800;
    position: absolute;
    left: 412px;
    top: -90px;
    font-size: 200px;
    color: #5a200f;
}


@media only screen and (max-width: 768px) {

    .testimonials__review::after {

        left: 32px;
        font-size: 170px;
        top: 138px;

    }
}


.testimonials__box {
    text-align: center;
    max-width: 470px;
    margin-right: 60px;
    padding-top: 20px;
    z-index: 10;
}

@media only screen and (max-width: 768px) {

    .testimonials__box {
        margin-right: 8px;
        padding-top: 77px;

    }
}

.testimonials__info {
    margin-bottom: 19px;

    font-size: 18px;
    line-height: 35px;

}

.testimonials__cite {
    display: block;
}

.testimonials__img {
    margin: -13px 0 0 -15px;
}

@media only screen and (max-width: 768px) {

    .testimonials__img {
        margin: -53px 0 0 -5px;

    }
}

.testimonials__quote {

    font-size: 18px;

    margin-bottom: 20px;
}

.testimonials__cite {

    line-height: 45px;
    font-weight: 600;
    font-style: italic;
    color: #f7ae3b;

}

.testimonials__img {
    z-index: 1;
}

.testimonials__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.testmonials__btn {
    width: 30px;
    height: 16px;
    background-image: url(../images/arrow.png);
}