body {
    background-color: rgb(178,218,250);
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    -webkit-border-radius: 20%;
}

.header {}

.header__top {}

.header__list {
    color: red;
}
.logo {}
.logo__link {}
.logo__img {}
.header__logo {}